/* All Devices ----------- */

div#logoWrap {

    margin: 0 10px;
}

img#logo {
    max-width: 700px;
    width:100%;
    margin: 0 auto;
    display:block;
}

div.picture {
    margin: 0 5px;
}
div.picture img {
    width:100%;
    max-width: 400px;

}

div.description {
    text-align: justify;
}

div.video {
    margin: 0 5px;
    clear: left;
}
div.video img{
    width:400px;
}

@media screen and (min-width: 800px) {

    div.picture {
        margin: 0 5px;
        width:400px;
        float:left;
    }

    div.description {
        margin-left:410px;
    }

}

@media screen and (max-width: 400px) {

    div.video img{
        width:100%;
    }
}


/* Splash Screens ----------- */

#splash {
    height:100%;
}

#splash div{
    width:100%;
    height:100%;
    background-color: white;
}

#splash #loadingLogo{
    background-image: url('../images/splashLogos/logo_200.jpg');
    width:200px;
    height:21px;
    margin: 0px auto;
    margin-bottom: 50px;

}

#splash #ajax-logo {
    display:block;
    width:100px;
    margin: 0px auto;
    margin-bottom: 50px;
}

#splash h3{
    text-align: center;
    font-size: smaller;
}

#splash {
        height:100%;
    }

@media screen and (min-width: 400px) {
    #splash div{
        width:100%;
        height:100%;
        background-color: white;
    }

    #splash #loadingLogo{
        background-image: url('../images/splashLogos/logo_300.jpg');
        width:300px;
        height:31px;
        margin: 0px auto;
        margin-bottom: 50px;

    }

    #splash #ajax-logo {
        display:block;
        width:100px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #splash h3{
        text-align: center;
        font-size: smaller;
    }
}

@media screen and (min-width: 600px) {
    #splash div{
        width:100%;
        height:100%;
        background-color: white;
    }

    #splash #loadingLogo{
        background-image: url('../images/splashLogos/logo_500.jpg');
        width:500px;
        height:52px;
        margin: 0px auto;
        margin-bottom: 50px;

    }

    #splash #ajax-logo {
        display:block;
        width:100px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #splash h3{
        text-align: center;
        font-size: medium;
    }
}

@media screen and (min-width: 700px) {
    #splash div{
        width:100%;
        height:100%;
        background-color: white;
    }

    #splash #loadingLogo{
        background-image: url('../images/splashLogos/logo_600.jpg');
        width:600px;
        height:62px;
        margin: 0px auto;
        margin-bottom: 50px;

    }

    #splash #ajax-logo {
        display:block;
        width:100px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #splash h3{
        text-align: center;
        font-size: medium;
    }
}

