/* All Devices ----------- */

div#logoWrap {

    margin: 0 10px;
}

img#logo {
    max-width: 700px;
    width:100%;
    margin: 0 auto;
    display:block;
}

div.picture {
    margin: 0 5px;
}
div.picture img {
    width:100%;
    max-width: 400px;

}

div.description {
    text-align: justify;
}

div.video {
    margin: 0 5px;
    clear: left;
}
div.video img{
    width:400px;
}

@media screen and (min-width: 800px) {

    div.picture {
        margin: 0 5px;
        width:400px;
        float:left;
    }
    
    div.description {
        margin-left:410px;
    }

}

@media screen and (max-width: 400px) {

    div.video img{
        width:100%;
    }
}


