CACHE MANIFEST
# v1.1

CACHE:
/index.html
/css/jquery.mobile-1.2.0.min.css
/css/style.css
/css/images/30-circle-play@2x.png
/css/images/ajax-loader.gif
/css/images/ajax-loader.png
/css/images/icons-18-black.png
/css/images/icons-18-white.png
/css/images/icons-36-black.png
/css/images/icons-36-black.png
/database/mobileProgramme.sql
/images/splashLogos/logo_200.jpg
/images/splashLogos/logo_300.jpg
/images/splashLogos/logo_500.jpg
/images/splashLogos/logo_600.jpg
/images/ajax-loader.gif
/js/config.js
/js/html5sql.min.js
/js/jquery-1.8.2.min.js
/js/jquery-ui-1.9.0.custom.min.js
/js/jquery.mobile-1.2.0.min.js
/js/mobileProgrammeClass.js